.App {
    background-color: ghostwhite;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: black;
}

#navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1vw;
    padding-top: 1vw;

    background: rgb(248, 248, 255);
    background: linear-gradient(120deg, rgba(248, 248, 255, 1) 0%, rgba(245, 245, 255, 1) 100%, rgba(247, 247, 255, 1) 100%);
}

#nav_title {
    font-size: 2vw;
    padding: 1vw;
    color: dodgerblue;
    margin: 0 0 0 5%;
    font-weight: bold;

    text-decoration: none;
}

#nav_items {
    width: 50%;
    margin-left: auto;
    font-size: 1vw;
    text-align: right;
    margin-right: 5%;
}

.nav_item {
    color: grey;
    padding: 0.5vw;
    font-size: 1vw;
}

.nav_item:hover {
    color: darkgray;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#year_select {
    text-align: center;
    padding: 1vw;
}

.crypto_graph_title {
    color: rgba(0, 0, 0, 0.63);
    font-size: 1vw;
    text-align: center;
}

#graphs {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /*margin: 5vw auto;*/
}

.graph_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}

.graph_home {
    width: 35vw;
    margin: 1vw auto;
    padding: 0;
}

.graph_wallet {
    width: 20vw;
    margin: 1vw auto;
    padding: 0;
}

.footer_layout {
    width: 100%;

    background: rgb(248, 248, 255);
    background: linear-gradient(120deg, rgba(248, 248, 255, 1) 0%, rgba(245, 245, 255, 1) 100%, rgba(247, 247, 255, 1) 100%);
}

.footer_items {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2vw;
}

#footer_authors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: auto;
}

.footer_author {
    font-size: 0.75vw;
    padding: 0.1vw;
    color: lightgrey;
    text-decoration: none;
}

#footer_github {
    height: 2vw;
    margin-left: 1.5vw;
    opacity: 1;
}

.auth_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw 2.5vw;
    margin-bottom: 2vw;
}

.auth_field_layout {
    margin: 0.5vw;
}

.auth_field {
    width: 25vw;
}

.auth_button_layout {
    text-align: center;
    margin: auto;
}

#auth_layout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.auth_form_layout {
    padding: 20px;
}

#auth_separator {
    width: 1px;
    height: 25vw;
    background-color: dodgerblue;
    border-style: solid;
    border-width: 1px;
    border-color: dodgerblue;
    border-radius: 2px;
}

#crypto_wallet_content {
    margin: 5vw;
}

#wallet_balance {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: fit-content;
    height: fit-content;

    margin: 5vw 5vw 5vw 10%;

    /*margin: 0;*/
    /*padding: 5vw;*/

    /*padding: 0.5vw 5vw;*/
    /*margin: 0 0 0 10%;*/
}

#wallet_balance_text {

    color: black;
    font-size: 1.5vw;
    text-decoration: none;
    font-weight: normal;

    width: fit-content;
    height: fit-content;

    margin: 0;
    padding: 0;
}

.crypto_tap_panel {
    margin-left: auto;
    margin-right: auto;

    width: 100%;
    max-width: fit-content;
}

#wallet_options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 5vw;
}