.App {
    background-color: ghostwhite;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: black;
}

#navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    padding-bottom: 1vw;
    padding-top: 1vw;

    background: rgb(248,248,255);
    background: linear-gradient(120deg, rgba(248,248,255,1) 0%, rgba(245,245,255,1) 100%, rgba(247,247,255,1) 100%);
}

#nav_title {
    font-size: 2vw;
    padding: 1vw;
    color: dodgerblue;
    margin: 0 0 0 5%;
    font-weight: bold;

    text-decoration: none;
}

#nav_items {
    width: 50%;
    margin-left: auto;
    font-size: 1vw;
    text-align: right;
    margin-right: 5%;
}

.nav_item {
    color: grey;
    padding: 0.5vw;
    font-size: 1vw;
}

.nav_item:hover {
    color: darkgray;
}

#year_select {
    text-align: center;
    padding: 1vw;
}

.crypto_graph_title {
    color: rgba(0, 0, 0, 0.63);
    font-size: 1vw;
    text-align: center;
}

#graphs {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    /*margin: 5vw auto;*/
}

.graph_row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}

.graph {
    width: 35vw;

    margin: 1vw auto;
    padding: 0;
}

.footer_layout {
    width: 100%;

    background: rgb(248,248,255);
    background: linear-gradient(120deg, rgba(248,248,255,1) 0%, rgba(245,245,255,1) 100%, rgba(247,247,255,1) 100%);
}

.footer_items {
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 2vw;
}

#footer_authors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-left: auto;
}

.footer_author {
    font-size: 0.75vw;
    padding: 0.1vw;
    color: lightgrey;
    text-decoration: none;
}

#footer_github {
    height: 2vw;
    margin-left: 1.5vw;
    opacity: 1;
}

.auth_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1vw 2.5vw;
    margin-bottom: 2vw;
}

.auth_field_layout {
    margin: 0.5vw;
}

.auth_field {
    width: 25vw;
}

.auth_switch_button_layout {
    text-align: center;
    margin: auto;
}

#auth_layout{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#sign_in_layout{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
