body {
    background-color: ghostwhite;
    min-height: 100vh;
    font-size: calc(10px + 2vmin);
    color: black;
}

#navigation {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

#nav_title {
    font-size: 2vw;
    padding: 1vw;
    color: dodgerblue;
    margin-left: 5%;
    font-weight: bold;
}

#nav_items {
    width: 50%;
    margin-left: auto;
    font-size: 1vw;
    text-align: right;
    margin-right: 10%;
}

.nav_item {
    color: grey;
    padding: 0.5vw;
    font-size: 1vw;
}

.nav_item:hover {
    color: darkgray;
}

#year_select {
    padding: 5vw;
    text-align: left;
}

#graphs {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*margin: 5vw auto;*/
}

.graph_layout {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 0;
    margin: 0;
}
.graph {
    width: 35vw;

    margin: 2.5vw auto;
    padding: 0;

}

